---
//index.astro:
import Layout from "../layouts/Layout.astro";
import { fetchData } from "../lib/fetch-data";
import { Image } from "astro:assets";
import { formatPrice } from "../utils/formatPrice";

export interface ProductProps {
  id: string;
  slug: string;
  name: string;
  image: {
    url: string;
    alt: string;
    width: number;
    height: number;
  };
  price: `${number}`;
  description: string;
  about: string;
}

export const { allProducts } = await fetchData(`
allProducts {
    id
	slug
  name
	image {
		url
		alt
      	width
      	height
	}
    price
    description
    about
  }`);
---

<Layout>
  <section class="flex flex-wrap justify-center gap-12">
    {
      allProducts.map(
        ({ name, slug, image, price, description }: ProductProps) => (
          <div class="flex flex-col justify-center items-center text-center border p-2 w-52 min-h-20 relative box-content">
            <div>
              <div>
                <a href={`/products/${slug}`}>
                  <Image
                    src={image.url}
                    alt={image.alt ?? "Product"}
                    width={image.width}
                    height={image.height}
                    loading="eager"
                  />
                </a>
              </div>
            </div>
            <h2 class="my-2 text-lg font-bold">{name}</h2>
            <p class="text-xs text-ellipsis overflow-hidden">{description}</p>
            <span class="self-start my-2">{formatPrice(price)}</span>
            <a
              href={`/products/${slug}`}
              class="cursor-ponter border p-1 self-start mt-2"
            >
              See more
            </a>
          </div>
        )
      )
    }
  </section>
</Layout>
